@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
  color-scheme: dark;
}

/* Custom styles for the background video */
.background-video {
  position: fixed; /* Make it fixed to the viewport */
  top: 0;
  left: 0;
  width: 100%; /* Cover full width */
  height: 100%; /* Cover full height */
  object-fit: cover; /* Cover the entire viewport without distortion */
  z-index: -1; /* Place behind other content */
  filter: blur(20px); /* Apply blur effect */
}

#root {
  position: relative; /* Required for stacking context */
  z-index: 1; /* Ensure content is above the video */
}


/* Remove number input spinner */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* For Firefox */
}

